.col-md-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


header {
    background-color: burlywood;
    height: 70px;
    margin-bottom: 15px;
}

header nav {
    text-align: center;
    line-height: 70px;;
}

header nav a {

}

#main-teaser {
    width: 98vw;
    height: 40vh;
    border: 1px dotted;
    margin: auto;
    background-color: burlywood;
    margin-bottom: 10px;
}

#teaser-index {
    list-style-type: none;
    text-align: center;
}

#teaser-index li {
    display: inline;
}

#collections-wrapper h2 {
    text-align: center;
}

#collections-list {
    text-align: center;
    list-style-type: none;
}

#collections-list li {
    display: inline-flex;
    margin: 0 4vw;
}

#collections-list li div {
    height: 250px;
    width: 250px;
    border: 1px dotted;
    background-color: burlywood;
    border-radius: 50%;
}

#collections-list li div p {
    line-height: 250px;
}

#about-wrapper h2 {
    text-align: center;
}

#about-wrapper p {
    text-align: center;
}

#signature-wrapper {
    float: right;
}
#headshot-wrapper {
    height: 100px;
    width: 100px;
    border: 1px dotted;
    background-color: burlywood;
    border-radius: 50%;
}